<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LINKES Administrator </title>

    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

    <!-- Custom CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin">Administrator</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active2"><a href="/admin">회원 관리</a></li>
            <li class="active"><a data-toggle="pill" href="#notice" style="color:black"
                                  onclick="location.href='/admin_ceo';">공연팀 관리</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="tab-content">

        <div id="notice" class="tab-pane fade in active">
            <br>
            <hr>
            <h2>공연팀 목록</h2>
            <hr>
            <br>
            <br>
            <div class="table-striped">
                <table class="table table-striped" id="person_table">
                    <thead>
                    <tr>
                        <th>팀 이름</th>
                        <th>주요 장르</th>
                        <th>팀 소개</th>
                        <th>이메일</th>
                        <th>전화번호</th>
                        <th>기타</th>
                    </tr>
                    </thead>

                    <tbody>
                    <%
                    for(var i = 0;i < rows.length; i++)
                    {
                        var oneItem = rows[i];
                    %>
                    <tr>
                        <td><%= oneItem.team_name %></td>
                        <td><%= oneItem.team_genre %></td>
                        <td><%= oneItem.team_intro %></td>
                        <td><%= oneItem.team_mail %></td>
                        <td><%= oneItem.team_phone %></td>
                        <td><%= oneItem.etc %></td>
                    </tr>

                    <%
                    }
                    %>

                    </tbody>
                </table>
                <form id="joinForm" action="/admin_ceo" method="post">
                    <hr>
                    <br>
                    <td>
                        <input type="hidden" name="tel" id="tel">
                        <select name="person_info" id="person_info">
                            <option value="s_num">팀 이름</option>
                            <option value="s_name">주요 장르</option>
                            <option value="s_type">팀 소개</option>
                            <option value="s_tell">이메일</option>
                            <option value="s_phone">전화번호</option>
                            <option value="s_id">기타</option>
                        </select>
                        <input type="text" name="person_info2" id="person_info2" size="20" maxLength="20">
                        <input type="submit" class="btn btn-success btn-md" id="btnsearch" name="search" value="검색">
                    </td>
                </form>

            </div>
        </div>
    </div>
</div>
<hr>
<br>

<!-- Footer -->
<footer>

    <a href="/">
        <button>LINKES 메인 페이지로</button>
    </a>
    <br><br>
    <div class="row">
        <div class="col-lg-12">
            <p>Software Engineering Project </p>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/bootstrap-3.3.6-dist/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>

</body>

</html>
